xbody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    font-family: Arial, sans-serif;
    width: 90%;
    max-width: 800px;
}

h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

table {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #5c67f2;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
